<ng-container *ngIf="brand != null">
    <div id="brand" class="ui inverted sidebar very wide right vertical visible menu">
        <div>
            <a id="brand-close" (click)="closeBrand()"><i class="close small fitted inverted red bordered link icon"></i></a>
        </div>
        <div class="ui large inverted header center aligned">
            {{brand.brand}}
            <h4>
                {{brand.country}}<br/>
                <a [routerLink]="['/brands-report', brand.brandid]">View Full Report</a>
            </h4>
        </div>
        <div class="ui divider"></div>
        <div class="item ui center aligned one column grid">
            <div class="sixteen wide column">
                <div class="ui inverted orange statistics center aligned">
                    <div class="statistic">
                      <div class="value">{{brand.avg_stats.risk_score_current.mean | number}}</div>
                      <div class="label">
                          Current Risk of Deforestation
                          <i class="info icon link inverted circular blue"></i>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="ui three tiny inverted statistics">
                    <div class="ui statistic">
                        <div class="value">
                            {{brand.country_count | number}}
                        </div>
                        <div class="label">
                            {{brand.country_count == 1 ? "Country" : "Countries" }}
                        </div>
                    </div>
                    <div class="ui statistic">
                        <div class="value">{{brand.suppliers.length | number}}</div>
                        <div class="label">Suppliers</div>
                    </div>
                    <div class="ui statistic">
                        <div class="value">{{brand.mills.length | number}}</div>
                        <div class="label">Mills</div>
                    </div>
                </div>
            </div>
            <div class="ui small inverted header center aligned">Background</div>
            <div>
                <p>
                    {{brand.description}}
                    <a href="{{brand.external_link}}" target="_blank">
                        <i class="icon small blue inverted external alternate link"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</ng-container>