<div id="brand-agg-stats" class="ui sidebar very wide right inverted vertical visible menu">
    <div class="ui medium inverted header center aligned">Aggregate Consumer Brand Snapshot</div>
    <div class="ui divider"></div>
    <div class="ui center aligned one column grid">
        <div class="sixteen wide column">
            <div class="ui inverted statistics">
                <div class="ui red inverted statistic">
                    <div class="value">XXX,XXX</div>
                    <div class="label">Hectares of Forest Lost</div>
                </div>
            </div>
            <div class="ui tiny inverted statistics">
                <div class="ui statistic">
                    <div class="value">{{aggBrandStats?.brands.length | number}}</div>
                    <div class="label">Brands</div>
                </div>
                <div class="ui statistic">
                    <div class="value">{{aggBrandStats?.total_num_countries | number}}</div>
                    <div class="label">{{aggBrandStats?.total_num_countries == 1 ? "Country" : "Countries"}}</div>
                </div>
            </div>
            <div class="ui tiny inverted statistics">
                <div class="ui statistic">
                    <div class="value">{{aggBrandStats?.total_num_suppliers | number}}</div>
                    <div class="label">Suppliers</div>
                </div>
                <div class="ui statistic">
                    <div class="value">{{aggBrandStats?.total_num_mills | number}}</div>
                    <div class="label">Mills</div>
                </div>
            </div>
        </div>
    </div>
    <app-brand-agg-tree-loss-chart [treeCoverStats]="aggBrandStats.dist_of_brand_avgs_for_treecover"></app-brand-agg-tree-loss-chart>
    <app-box-and-whisker-plot></app-box-and-whisker-plot>
    <div class="ui small inverted header center aligned">Brand Ranking</div>
    <div id="best-brands">
        <table class="ui small single line selectable inverted celled table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Future Risk Score</th>
                </tr>
            </thead>
            <tr *ngFor="let brandRank of aggBrandStats?.brands; let i = index">
                <td>{{i+1}}</td>
                <td>{{brandRank.name}}</td>
                <td>{{brandRank.country}}</td>
                <td>{{brandRank.risk_score_future_mean}}</td>
            </tr>
        </table>
    </div>
</div>
