/* body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  } */
  
  a {
    color: #00B7FF;
  }
  
  /* html, body, #map-id {
    height: 100%;
    width: 100%;
  } */

  #logo {
    margin: 0%;
  }
  #navbar {
    z-index: 100000;
    box-shadow: 8px 8px 18px #37393a;
  }
  .height {
    height: 100%;
  }
 .pusher {
    height: 100%;
    align-self: auto;
    margin: 0%;
  } 
  #web-container {
    margin-top: 0%;
  }
  #map-container, #stats-container {
    padding: 0%;
  }