<div class="ui modal">
  <i class="close icon"></i>
  <div class="ui huge header">
    About 
  </div>
  <div class="scrolling content">
      <div class="ui dividing medium header">
          About IDI
      </div>
    <div class="description">
      <p>Inclusive Development International works with communities and local civil society groups to hold governments, 
        development finance institutions, and corporate actors accountable for human rights violations and environmental 
        damage caused by irresponsible development and business conduct. We support affected communities to understand their 
        rights and potential advocacy strategies; identify responsible actors; document harms and violations of human rights,
         laws and policies; and seek recourse through evidence-based advocacy and by accessing a range of transnational judicial 
         and non-judicial remedies.</p>
    </div>
  <div class="ui dividing medium header">
      About Project
  </div>
  <div class="description">
    <p>This project highlights the impact that different consumer brands have had on deforestation and tree cover loss as it relates to palm oil.
      Consumer brand.</p>
  </div>

  <div class="ui dividing medium header">
      Methodology
  </div>
  <div class="description">
    <p>Public information coming from various consumer brands is matched with data for the Global Forest Watch's
      <a href='https://data.globalforestwatch.org/datasets/5c026d553ff049a585b90c3b1d53d4f5_34'>Universal Mill List</a>. 
      A calculation in which the previous two years of deforestation is used to calculate deforestation risk score.</p>
  </div>
  
  <div class="ui dividing medium header">
    Variables
  </div>
  <div class="description">
    <div class="ui small header">
      Treeloss Sum
    </div>
    <ul>
      <li>Sum of treeloss over time, where land has gone from "forest" to "non-forest" state.</li>
    </ul>

    <div class="ui small header">
      Land Area
    </div>
    <ul>
      <li>Pixels where there is mapped land compared to no ocean or no data.</li>
    </ul>

    <div class="ui small header">
      Forest Area
    </div>
    <ul>
      <li>Pixels where there is land was in a "forest" state in 2000.</li>
    </ul>

    <div class="ui small header">
      Treeloss 2019
    </div>
    <ul>
      <li>Treeloss in 2019, where land has gone from "forest" to "non-forest" state.</li>
    </ul>

    <div class="ui small header">
      Treeloss Sum Proporiton of Land
    </div>
    <ul>
      <li>Treeloss sum divided by land area.</li>
    </ul>

    <div class="ui small header">
      Treeloss Sum Proporiton of Forest
    </div>
    <ul>
      <li>Treeloss sum divided by forest area.</li>
    </ul>

    <div class="ui small header">
      Remaining Proportion of Forest
    </div>
    <ul>
      <li>1 - treeloss sum proportion of forest. Fraction of forest that has not experienced loss.</li>
    </ul>

    <div class="ui small header">
      Current Risk Score
    </div>
    <p class="description">Calculated risk score based on most recent 2 years worth of data.</p>
    <p>Calculation:</p>
    <ol>
      <li>Average treeloss area over the specified years (currently 2018-2019).</li>
      <li>Convert averages to z-score.</li>
      <li>Convert to risk score (1-5) where 1: z<-1, 2: -1<=z<-.5, 3: -.5<=z<.5, 4: .5<=z<1, 5: z>=1</li>
    </ol>

    <div class="ui small header">
      Past Risk Score
    </div>
    <p class="description">Calculated risk score based on past treeloss.</p>
    <p>Calculation:</p>
    <ol>
      <li>Convert treeloss sum proportion of forest to z-score.</li>
      <li>Convert averages to z-score.</li>
      <li>Convert to risk score (1-5) where 1: z<-1, 2: -1<=z<-.5, 3: -.5<=z<.5, 4: .5<=z<1, 5: z>=1</li>
    </ol>

    <div class="ui small header">
      Future Risk Score
    </div>
    <p class="description">Calculated risk score based on future treeloss.</p>
    <p>Calculation:</p>
    <ol>
      <li>Convert remaining proportion of forest to z-score..</li>
      <li>Convert averages to z-score.</li>
      <li>Convert to risk score (1-5) where 1: z<-1, 2: -1<=z<-.5, 3: -.5<=z<.5, 4: .5<=z<1, 5: z>=1</li>
    </ol>

  </div>
  
</div>

  <div class="actions">
    <div class="ui positive right icon button">
      Exit
    </div>
  </div>
</div>
