<div style="padding:5%;">
    <div class="ui large header inverted">Consumer Brand Snapshot</div>
    <div class="ui divider inverted"></div>
    <div class="ui statistics">
        <div class="ui inverted statistic">
            <div class="value"><%= formatNumber(brandAggs["netTreeLoss"]) %></div>
            <div class="label">Hectares Lost</div>
        </div>
    </div>
    <div class="ui statistics">
        <div class="ui inverted statistic">
            <div class="value">3</div>
            <div class="label">Brands</div>
        </div>
        <div class="ui inverted statistic">
            <div class="value"><%= brandAggs["totalNumCountries"] %></div>
            <div class="label">Countries</div>
        </div>
        <div class="ui inverted statistic">
            <div class="value"><%= brandAggs["totalNumSuppliers"] %></div>
            <div class="label">Suppliers</div>
        </div>
        <div class="ui inverted statistic">
            <div class="value"><%= brandAggs["totalNumMills"] %></div>
            <div class="label">Mills</div>
        </div>
    </div>
</div>