<div>
    <h5 class="ui inverted gray small header">TREECOVER 2000</h5>
    <div class="ui toggle checkbox">
        <input type="checkbox" name="treecover2000" checked="checked">
        <label></label>
    </div>
    <h5 class="ui inverted gray small header">TREECOVER LOSS</h5>
    <div class="ui toggle checkbox">
        <input type="checkbox" name="treecoverloss" checked="checked">
        <label></label>
    </div>
</div>

<!--<div class="ui segment">
    <label>Loss Year</label>
    <div id="double" class="ui double range"></div>
</div>-->